---
import Layout from "@layouts/Layout.astro";

import { IndexFooter } from "@components/IndexFooter";
---

<Layout
  title="Daftar Jadwal Belajar dan Mengajar SMA Negeri 12 Kota Bekasi"
  description="Daftar Jadwal Belajar dan Mengajar SMAN 12 Bekasi"
>
  <header
    class="pt-[1.8rem] w-full flex flex-col items-center gap-0.5 md:gap-3 justify-center"
  >
    <h1
      class="text-center text-poppins text-4xl lg:text-5xl font-medium w-[50%] sm:w-[80%] md:w-auto"
    >
      Jadwal Belajar dan Mengajar
    </h1>
    <div class="flex flex-col md:flex-row md:gap-2 items-center">
      <h2 class="scroll-m-20 text-xl lg:text-2xl tracking-tight">
        SMA Negeri 12 Bekasi
      </h2>
      <h2
        class="scroll-m-20 text-xl lg:text-2xl hidden md:block tracking-tight"
      >
        |
      </h2>
      <h2 class="scroll-m-20 md:text-xl lg:text-2xl tracking-tight">
        Tahun ajaran 2025/2026
      </h2>
    </div>
  </header>

  <main class="py-10 pb-20 px-5">
    <section
      class="pb-5 flex flex-col gap-3 lg:gap-0 md:flex-row justify-between"
    >
      <div>
        <h4 class="font-poppins font-semibold text-xl lg:text-2xl">
          Posisi saya
        </h4>
        <p class="font-lato text-lg lg:text-xl">
          Pilih posisi sebagai guru atau siswa supaya otomatis terbuka opsi yang
          sesuai.
        </p>
      </div>
      <select
        class="border rounded border-neutral-300 bg-white dark:border-neutral-900 dark:border-sm dark:bg-neutral-900 w-full h-10 sm:h-10 md:h-auto md:w-32"
      >
        <option value="">Pilih posisi</option>
        <option value="teacher">Guru</option>
        <option value="student">Murid</option>
      </select>
    </section>
    <section class="grid grid-cols-1 sm:grid-cols-2 gap-5">
      <a
        class="rounded border border-neutral-300 dark:border-neutral-900 dark:border-sm dark:bg-neutral-900 font-lato text-lg p-5 text-center"
        href="/teacher"
      >
        Guru
      </a>
      <a
        class="rounded border border-neutral-300 dark:border-neutral-900 dark:border-sm dark:bg-neutral-900 font-lato text-lg p-5 text-center"
        href="/student"
      >
        Murid
      </a>
    </section>
  </main>

  <IndexFooter client:idle />

  <script>
    const select = document.querySelector("select") as HTMLSelectElement;
    const favoritePosition = localStorage.getItem("favorite-position");

    if (favoritePosition) {
      select.value = favoritePosition;
      document.location = `/${favoritePosition}`;
    }

    select.addEventListener("change", (e) => {
      localStorage.setItem(
        "favorite-position",
        (e.target as HTMLSelectElement).value
      );
      document.location = `/${(e.target as HTMLSelectElement).value}`;
    });
  </script>
</Layout>
