.Jadwal {
  text-align: left;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0;
}

.table {
  width: 100%;
}
.center {
  text-align: center;
}

.highlighted {
  background-color: #8ecae6;
}

.highlightedNextDay {
  background-color: #219ebc;
  color: white;
}

.mainContent {
  padding-bottom: 2em;
}

.card {
  background-color: var(--color-background-secondary);
  border-color: var(--color-border-second);
}

@media (min-width: 300px) and (max-width: 1056px) {
  .scrollableHorizontal {
    overflow-x: auto;
  }
}
