.header {
  margin: 0 auto;
  padding: 12px 0;
  padding-left: 1em;
}

.header h1,
.header h2,
.header h3 {
  padding: 4px;
}

.horizontalRuler {
  width: 95%;
  display: flex;
}

.listItem {
  display: flex;
}

.jadwalList {
  padding: 0em;
  padding-left: 1em;
  display: flex;
  justify-content: center;
}

.mainContent {
  padding-bottom: 2em;
}

.favouriteClass {
  display: inline;
  margin: 0 auto;
  padding: 12px 0;
  padding-left: 1em;
}

.currentClass {
  width: fit-content;
  display: inherit;
}

.favouriteClassPicker {
  background: none;
  display: inherit;
  width: auto;
  aspect-ratio: 2.7;
  margin-left: 0.75rem;
  border-color: var(--color-border-card);
  background-color: var(--color-background-secondary);
}
